<!DOCTYPE html>
<html>
<head>
    <title>{{ job.title }} at {{ job.company }}</title>
    <style>
        body {
            font-family: "Segoe UI", sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 20px;
        }
     </style>
</head>
<body>
    <h1>{{ job.title }}</h1>
    <h2>Company: {{ job.company }}</h2>
    <p><strong>Location:</strong> {{ job.location }}</p>
    <p><strong>Date Posted:</strong> {{ job.date_posted }}</p>
    <p>{{ job.description }}</p>
    <a href="/">Back to listings</a>
</body>
</html>
