<!DOCTYPE html>
<html>
<head>
    <title>{{ job.displayInformation.label }}</title>
    <style>
        body {
            font-family: "Segoe UI", sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 20px;
        }
     </style>
</head>
<body>
    <h1>{{ job.displayInformation.label }}</h1>
    <div>
        {% if job.displayInformation.description %}
            <p><strong>Description:</strong> {{ job.displayInformation.description }}</p>
        {% endif %}
        {% if job.displayInformation.locationName %}
            <p><strong>Location Name:</strong> {{ job.displayInformation.locationName }}</p>
        {% endif %}
        {% if job.displayInformation.location %}
            <p><strong>Location:</strong> {{ job.displayInformation.location }}</p>
        {% endif %}
        {% if job.displayInformation.wageType %}
            <p><strong>Wage Type:</strong> {{ job.displayInformation.wageType }}</p>
        {% endif %}
        {% if job.displayInformation.minWage %}
            <p><strong>Min Wage:</strong> {{ job.displayInformation.minWage }}</p>
        {% endif %}
        {% if job.displayInformation.maxWage %}
            <p><strong>Max Wage:</strong> {{ job.displayInformation.maxWage }}</p>
        {% endif %}
    </div>
    <a href="/">Back to listings</a>
</body>
</html>
